body {
    background: #eee;
    font: 13px/20px arial,sans-serif;
    height: 100%;
    margin: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
}

#container {
    min-width: 960px;
}

header {
    background: #ddd;
    border-bottom: 1px solid #bbb;
    color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    width: 900px;
    margin: 0 auto;
    line-height: 60px;
}

nav {
    border-top: 1px solid #e3e3e3;
    height: 20px;
    background: #ccccd4;
    padding: 10px;
}

nav ul {
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    padding-right: 15px;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

#content {
    width: 900px;
    margin: 20px auto 0 auto;
    padding: 30px 20px 20px 20px;
    background: white;
    border: 1px solid #ccc;
}

#content h1 {
    margin: 0 0 10px 0;
}

#actions {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 5px;
    font-size: 80%;
}

#actions a{
    text-decoration: none;
}

footer {
    width: 900px;
    margin: 5px auto 0 auto;
    font-size: 80%;
    color: #666;
}