<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fliki</title>
  <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div id="container">
    <header>
      <h1>Fliki</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/all-pages">All Pages</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
      <div id="actions">{% block actions %}{% endblock %}</div>
    </div>
    <footer>
      Built with Fliki.
    </footer>
  </div>
</body>
</html>