<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fliki</title>
  <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Fliki</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/all-pages">All Pages</a>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    {% block actions %}
    {% endblock %}
  </footer>
</body>
</html>